<!-- <section class="home-container">
  <mat-card class="hero-card">
    <div class="content">
      <h1>Hey, I'm <span class="highlight">Your Name</span></h1>
      <p class="subtitle">A passionate Angular Developer crafting sleek web experiences 🚀</p>
      <button mat-raised-button color="accent" routerLink="/projects">View Projects</button>
    </div>
    <img class="profile-pic"  />
  </mat-card>
</section> -->

<section>
  <mat-card class="home-container">
    <div class="main-container">
      <mat-card class="section-left hero-card">
        <div class="content">
          <h1>Hey, I'm <span class="highlight">Your Name</span></h1>
          <p class="subtitle">A passionate Angular Developer crafting sleek web experiences 🚀</p>
          <button mat-raised-button color="accent" routerLink="/projects">View Projects</button>
        </div>
      </mat-card>
      <div class="section-right">
        <img class="profile-pic" [src]="profilePicUrl" alt="Profile">
      </div>
    </div>
  </mat-card>
</section>